!
conf t
clock datetime {{clock}}
!
job schedule_reboot_secondary
10 cli boot system secondary
!
exit
!
schedule schedule_reboot_secondary
job schedule_reboot_secondary
trigger at {{trigger_time}}

! 15:30 2024-02-12
